@page
@model SealisMovies.Pages.AdminModel
@using SealisMovies.Models
@using System.Threading.Tasks
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

@*//Här kan admin skapa kategorier*@
<form method="post" enctype="multipart/form-data">

    <div class="form-group">

        <label asp-for="Category.CategoryName" class="form-label">Kategori</label>
        <input asp-for="Category.CategoryName" class="form-control" />

    </div>

    <input type="submit" asp-page-handler="CreateCategory" class="btn btn-success" value="Spara Kategori💾" />

</form>

<hr />

@*//Här listas alla kategorier som sedan admin kan ta bort eller ändra på*@
<h2>Categories</h2>
<ul>
    @foreach (var category in Model.Categories)
    {
        <li>
            @category.CategoryName
            <form method="post" asp-page-handler="RemoveCategory" class="d-inline">
                <input type="hidden" name="categoryId" value="@category.Id" />
                <input type="submit" class="btn btn-danger btn-sm" value="Remove" onclick="return confirm('Are you sure you want to remove this category?')" />
            </form>
            <form method="post" asp-page-handler="UpdateCategory" class="d-inline ml-2">
                <input type="hidden" name="categoryId" value="@category.Id" />
                <input type="text" name="newCategoryName" class="form-control form-control-sm d-inline" />
                <input type="submit" class="btn btn-primary btn-sm" value="Update" />
            </form>
        </li>
    }
</ul>

<h1><u>Rapporterade inlägg</u></h1>
<div class="row justify-content-center">
    @foreach (var discussion in Model.ReportedDiscussions)
    {
        <div class="card m-2 p-2" style="width: 18rem">
            <a asp-route-showid="@discussion.Id"><img class="card-img-top" src="~/img/@discussion.Image"></a>
            <div class="card-body">
                <h5 class="card-title">@discussion.Header</h5>
                <p class="card-text">@discussion.Text</p>
                @if (user != null && user.Id == discussion.UserId || user.UserName == "sealis@hotmail.com")
                {
                    <form method="post" asp-page-handler="DeleteDiscussion" class="d-inline">
                        <input type="hidden" name="discussionId" value="@discussion.Id" />
                        <button type="submit" class="btn btn-danger">Ta bort</button>
                    </form>
                                        <form method="post" asp-page-handler="RevertReportedStatus" class="d-inline">
                        <input type="hidden" name="discussionId" value="@discussion.Id" />
                        <button type="submit" class="btn btn-primary">Avrapportera</button>
                    </form>
                }
            </div>
        </div>
    }
</div>
