@page
@model SealisMovies.Pages.AdminModel
@using SealisMovies.Models
@using System.Threading.Tasks
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}
@{
    string defaultText1 = "Ändra kategorinamn";
}
@{
    string defaultText2 = "Kategorinamn";
}

@*//Här kan admin skapa kategorier*@

<form method="post" asp-page-handler="CreateCategory" enctype="multipart/form-data">

    <div class="form-group">
        <input asp-for="Category.Id" type="hidden" value="0"/>
        <label asp-for="Category.CategoryName" class="form-label">Kategori</label>
        <input asp-for="Category.CategoryName" class="form-control prefilled-text"
               value="@defaultText2"
               onfocus="if (this.value === '@defaultText2') { this.value = ''; }"
               onblur="if (this.value === '') { this.value = '@defaultText2'; }" />

    </div>
    <br />
    <input type="submit" asp-page-handler="CreateCategory" class="btn btn-success" value="Spara Kategori💾" />

</form>

<hr />
@*//Här listas alla kategorier som sedan admin kan ta bort eller ändra på*@
<h2>Categories</h2>
<ul>
    @foreach (var category in Model.Categories)
    {
        <li class="cardColor" style="list-style:none">
            @category.CategoryName
            <form method="post" asp-page-handler="RemoveCategory" class="d-inline">
                <input type="hidden" name="deleteid" value="@category.Id" />
                <input type="submit" class="btn btn-danger btn-sm" value="Ta bort" onclick="return confirm('Är du säker på att du vill ta bort denna kategori?')" />
            </form>
            <p></p>
            <form method="post" asp-page-handler="UpdateCategory" class="d-inline ml-2">
                <input type="hidden" name="editid" value="@category.Id" />

                <input style="color: darkgrey" type="text" name="Category.CategoryName" class="form-control form-control-sm d-inline prefilled-text"
                   
                   onfocus="if (this.value === '@defaultText1') { this.value = ''; this.style.color = 'black'; }"
                   onblur="if (this.value === '') { this.value = '@defaultText1'; this.style.color = 'darkgrey'; }" />
                <p></p>
                <input type="submit" class="btn btn-primary btn-sm" value="Uppdatera" />
            </form>
            <p></p>
        </li>
        <br />
    }
</ul>

<h1><u>Rapporterade inlägg</u></h1>
@if (Model.ReportedDiscussions != null)
{
    <div class="row justify-content-center">
        @foreach (var discussion in Model.ReportedDiscussions)
        {
            <div class="cardColor card m-2 p-2" style="width: 18rem">
                <a asp-route-showid="@discussion.Id"><img class="card-img-top" src="~/img/@discussion.Image"></a>
                <div class="card-body">
                    <h5 class="card-title">@discussion.Header</h5>
                    <p class="card-text">@discussion.Text</p>
                    @if (user != null && user.Id == discussion.UserId || user.UserName == "sealis@hotmail.com")
                    {
                        <form method="post" asp-page-handler="DeleteDiscussion" class="d-inline">
                            <input type="hidden" name="discussionId" value="@discussion.Id" />
                            <button type="submit" class="btn btn-danger">Ta bort</button>
                        </form>
                        <form method="post" asp-page-handler="RevertReportedStatus" class="d-inline">
                            <input type="hidden" name="discussionId" value="@discussion.Id" />
                            <button type="submit" class="btn btn-primary">Avrapportera</button>
                        </form>
                    }
                </div>
            </div>
        }
    </div>
}
@if(Model.ReportedDiscussions == null || !Model.ReportedDiscussions.Any())
{
    <div class="alert alert-success">Det finns inga rapporterade inlägg 😊</div>
}

